/* Estilos del carrusel */
.carrusel {
    position: relative;
    max-width: 900px; /* Ajusta el ancho según tus necesidades */
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrusel-contenedor {
    display: flex;
    transition: transform 0.5s ease-in-out;
    cursor: grab;
    justify-content: center;
}

.carrusel-item {
    flex: 0 0 33.33%; /* Muestra de a tres fotos */
    box-sizing: border-box;
    padding: 10px;
}

.carrusel-item img {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Asegura que las imágenes tengan el mismo tamaño */
    border-radius: 10px;
}


/* Media Query para pantallas más pequeñas (hasta 942px) */
@media (max-width: 942px) {
    .carrusel-item img {
        width: 100%;
        height: 480px;
        object-fit: cover;
        border-radius: 10px;
    }
    .carrusel-contenedor {
        display: flex
    ;
        transition: transform 0.5s ease-in-out;
        cursor: grab;
        justify-content: center;
        flex-direction: column;
     }
}
