@import 'variables';

@keyframes moverOlas {
    0% {
        d: path("M0,32L30,42.7C60,53,120,75,180,122.7C240,171,300,245,360,266.7C420,288,480,256,540,208C600,160,660,96,720,90.7C780,85,840,139,900,149.3C960,160,1020,128,1080,133.3C1140,139,1200,181,1260,218.7C1320,256,1380,288,1410,304L1440,320L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z");
    }
    50% {
        d: path("M0,32L30,53.3C60,75,120,117,180,128C240,139,300,117,360,112C420,107,480,117,540,133.3C600,149,660,171,720,170.7C780,171,840,149,900,149.3C960,149,1020,171,1080,186.7C1140,203,1200,213,1260,202.7C1320,192,1380,160,1410,144L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z");
    }
    100% {
        d: path("M0,32L30,42.7C60,53,120,75,180,122.7C240,171,300,245,360,266.7C420,288,480,256,540,208C600,160,660,96,720,90.7C780,85,840,139,900,149.3C960,160,1020,128,1080,133.3C1140,139,1200,181,1260,218.7C1320,256,1380,288,1410,304L1440,320L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z");
    }
}

path {
    animation: moverOlas 5s infinite;
}


.frase {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: #4a4a4a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}