@import 'variables';


.info-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

/* Estilos para cada sección de información */
.info-section {
    margin-bottom: 30px;
    
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #9F8735; /* Color dorado */
}

.info-section h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #9F8735; /* Color dorado */
    
}

.info-section p {
    font-size: 1.2rem;
    color: #555;
}

/* Estilos para el separador con ícono */
.divider {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider i {
    font-size: 1.5rem;
    color: #9F8735; /* Color dorado */
    margin: 0 10px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #9F8735; /* Color dorado */
}


/* Estilos para el botón */
.btn-maps {
    background-color: #9F8735; /* Color dorado */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-maps i {
    font-size: 1.2rem;
}

.btn-maps:hover {
    background-color: #7f6d2b; /* Color dorado más oscuro */
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
}

.modal-content {
    position: relative;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

/* Botón para cerrar el modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


.botonllegar {
    display: flex;
    justify-content: center;
}