// _variables.scss

// Colores
$primary-color: #ff6f61;
$secondary-color: #EEECE3;
$background-color: #f9f9f9;
$three-color:#EEECE3;
$fiesta-color:#B5A484;
$body-color:#A39565;

// Fuentes
$font-primary: 'Great Vibes', cursive;
$font-secondary: 'Open Sans', sans-serif;